<div class="card card-primary">
  <div class="card-header"><h4>Login</h4></div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: "true", tabindex: "1" %>
        <div class="invalid-feedback">          
          Please fill in your email
        </div>
      </div>

      <div class="form-group">
        <div class="d-block">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: "true", tabindex: "2" %>              
        </div>            
        <div class="invalid-feedback">
          please fill in your password
        </div>
      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= f.check_box :remember_me, class:"custom-control-input", tabindex:"3" %>
          <%= f.label :remember_me, class:"custom-control-label" %>              
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Log in", class:"btn btn-primary btn-lg btn-block", tabindex:"4" %>            
      </div>          
    <% end %>
    <div class="text-center mt-4 mb-3">
      <div class="text-job text-muted">Login With Social</div>
    </div>
    <div class="row sm-gutters">
      <div class="col-6">
        <a class="btn btn-block btn-social btn-facebook">
          <span class="fab fa-facebook"></span>
        </a>
      </div>          
      <div class="col-6">
        <a class="btn btn-block btn-social btn-twitter">
          <span class="fab fa-twitter"></span>
        </a>                                
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>    
<div class="simple-footer">
  Copyright © Leonardo Melo 2020
</div>