<!DOCTYPE html>
<html>
  <head>
    <title>Finanças Pessoais</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <div id="modal-holder"></div>
      <% if user_signed_in? %>
        <div class="main-wrapper main-wrapper-1">
          <%= render '/layouts/navbar' %>
          <%= render '/layouts/sidebar' %>
          <div class="main-content">
            <section class="section">
              <%= yield %>
            </section>
          </div>
        </div>
      <% else %>
        <section class="section">
          <div class="container mt-5">
            <div class="row row-login">
              <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="login-brand">
                  <%= image_tag "logo.png", alt:"logo", class:"shadow-light", width:"100" %>
                </div>
                <% if flash.any? && flash.count > 0 %>
                  <%= get_alert_error(flash.alert) %>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </section>
        <footer class="simple-footer">
          Copyright © Leonardo Melo 2020
        </footer>
      <% end %>
    </div>
    <%= render "layouts/notices" %>
  </body>
</html>
