<div class="section-header">
  <h1><%= Account.model_name.human(count: @accounts.size)  %></h1>  
  <!-- Breadcrumb -->
  <div class="section-header-breadcrumb">
    <%= @teste %>
  </div>
</div>

<div class="section-body">
  <p id="notice"><%= notice %></p>

  <%= link_to t('buttons.new'), accounts_path, class: "btn btn-primary", style: "margin-bottom: 25px;" %>

  <div class="card">    
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <thead>
            <tr>
              <th><%= Account.human_attribute_name :description %></th>
              <th><%= Account.human_attribute_name :balance %></th>
              <th><%= Account.human_attribute_name :active %></th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.description %></td>
                <td><%= account.balance %></td>
                <td><%= account.active %></td>
                <td><%= link_to t('buttons.show'), account %></td>
                <td><%= link_to t('buttons.edit'), edit_account_path(account) %></td>
                <td><%= link_to t('buttons.destroy'), account, method: :delete, data: { confirm: t('messages.confirm_destroy')} %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>    
  </div>  
</div>